.blogs{
    display: block;
    margin: auto;
    background: linear-gradient(to bottom, #98042D 60%, #fff7f9 40%);
    padding-bottom: 5rem; 
    padding-top: 1rem;
  }
  
  .blogsInfo{
    margin: auto;
    max-width: 900px; 
    color: white;
  }
  
  .blogsCard{
    margin: auto;
    margin-bottom: 3rem;
    max-width: 800px;
    background-color: white;
    color: black;
    border-radius: 2rem;
  }