.blogs{
    display: block;
    margin: auto;
    background: linear-gradient(to bottom, #98042D 60%, #ffff 40%);
    padding: 2rem;
    padding-bottom: 5rem; 
  }
  
  .blogsInfo{
    margin: auto;
    max-width: 900px; 
    color: white;
  }
  
  .blogsCard{
    margin: auto;
    max-width: 650px;
    background-color: white;
    color: black;
  }