.footer{
    display:block;
    margin: auto;
    background: linear-gradient(to top, #98042D 80%, #fff7f9 20%);
    color: white;
  }
  
  .footerCard{
    margin: auto;
    width: 90%;
    max-width: 1200px;
    background-color: #001F3D;
    border-radius: 1rem;
  }